<div class="presentation">
    <img class="img-cicle" src="../assets/imgs/images.jpg" alt="image du presentateur">
    <div class="text-point">
        <div>
            <span>.</span>
        </div> 
        <div>
            <p>Présentation</p>
            <p>
                actuality works! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis 
                illo obcaecati impedit! Autem veniam tempore repellendus iste quasi cum consequuntur 
                totam perferendis esse sunt, mollitia voluptates natus dicta! Cupiditate, aut?

                actuality works! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis 
                illo obcaecati impedit! Autem veniam tempore repellendus iste quasi cum consequuntur 
                totam perferendis esse sunt, mollitia voluptates natus dicta! Cupiditate, aut?

                actuality works! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis 
                illo obcaecati impedit! Autem veniam tempore repellendus iste quasi cum consequuntur 
                totam perferendis esse sunt, mollitia voluptates natus dicta! Cupiditate, aut?
                <a href="#">Voir la suite</a>
            </p>   
        </div>
    </div>
</div>
<app-navbar></app-navbar>

