<div class="actuality">
    <div class="img-h2">
        <img src="assets/imgs/imagess.png" alt="informations" width="40px;height:40px;">
        <h2>Actualités</h2>
    </div>
    <hr>
    <p>
        actuality works! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis 
        illo obcaecati impedit! Autem veniam tempore repellendus iste quasi cum consequuntur 
        totam perferendis esse sunt, mollitia voluptates natus dicta! Cupiditate, aut?        
    </p>
    <a href="#">Voir la suite</a>
</div>

<div class="marquee">
    <Marquee direction="up" style="display: flex; flex-direction: column;">
        <div class="marquee-img">
            <img src="../assets/imgs/page-7-fig-1-_-logo_principles_en_principle-1.png" alt="Logo d'orange">
        </div>
        <div class="marquee-img">
            <img src="../assets/imgs/20220920115933!Logo_AUF.png" alt="Logo de l'AUF">
        </div>
        <div class="marquee-img">
            <img src="../assets/imgs/logo-simplon_23.png" alt="Logo de Simplon">
        </div>
    </Marquee>
</div>