<div class="formation-part1">
    <div>
        <p> Formations !</p>
        elle présente vos études, vos diplômes et éventuellement vos formations professionnelles.
        Elle permet au recruteur de faire un premier tri parmi les postulants.
        Il est donc nécessaire de suivre certaines règles pour bien présenter ses formations 
        et ses diplômes sur son CV, et valoriser les informations importantes. 
    </div>
    <div>
        <img src="../assets/imgs/imagesq.jpg" alt="formation">
    </div>
</div>

<div class="formation-part2">
    <p>2015 - 2016 : Bacccalaureat - Lycée Moderne 3 de Gagnoa</p>
</div><br><br>
<div class="formation-part3">
    <p>2018 - 2019 : Licence - Université Virtuelle de Côte d'Ivoire</p>
</div><br><br>
<div class="formation-part4">
    <p>2021 - 2022 : Master - Université Virtuelle de Côte d'Ivoire</p> 
</div><br><br>