<nav class="navbar">
    <ul>
        <!-- <li><a routerLink="/formation">Accueil</a></li> -->
        <li><a href="#formation">Formations</a></li>
        <li><a href="#competence">Compétences</a></li>
        <li><a href="#experience">Expériences</a></li>
    </ul>
</nav>

<div>
    <div id="formation">
        <app-formation></app-formation>
    </div>
    <!-- <div id="competence">
        <app-competence></app-competence>
    </div>
    <div id="experience">
        <app-experience></app-experience>
    </div> -->
</div>
